# Bitcoin Core RPC

RPC_USER=user
RPC_PASS=pass
RPC_URL=http://localhost:18443
WALLET_NAME=default

# Bitcoin IPC

DATABASE_URL=local_dev_db

# Provider
PROVIDER_PORT=3030
PROVIDER_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

RUST_LOG=bitcoin_ipc=debug,monitor=debug,bitcoincore_rpc=error,actix_web=info
