CLAUDE.md
/target
.env
.DS_Store
.git
.vscode
tmux*
BTC/*
output.csv
output-transfer.csv
output-withdraw.csv
outputs/*

# DB directories
/*_db

# example .env files
!internal/**/.env

# Foundry files for test contracts
scripts/stablecoin-example/usdt-bsc-token/lib
scripts/stablecoin-example/usdt-bsc-token/out
scripts/stablecoin-example/usdt-bsc-token/cache

_container_inspect/*
.ipc/